body{
    background: url(../images/bg.jpg);
    /* 设置背景铺满 */
    background-repeat:no-repeat;
    background-size:100%;

}

a:hover {
    /* 悬空的时候有被选中的样子 出现下划线*/
    text-decoration: underline;
}

p.yahei{
    font-family: "微软雅黑", "华文新魏", "宋体", serif;
    font-size: 100%;
    margin: 10px auto;
}

button{
    width: 140px;
    height: 40px;

    text-align: center;
    font-size: 16px;

    background-color: #9CF8CC;
    border-radius: 5px;
    border-width: none;
}

div.bg{
    /* 设置form大小 */
    width: 1600px;
    height: 920px;

    /* 加个背景颜色 */
    background-color: #E1E9EF;

    /* 设置透明度 */
    opacity: 95%;

    text-align: center;
    /* 再设置内边距 使得内容更偏向于中央位置 */
    /* 上方，下方内边距为120px 与 左边与右边均为100px 按照逆时针 */
    /* 但是会撑大盒子 */
    padding: 20px 40px;

    /* 设置文本文字的大小 */
    font-size: 18px;

    /* 添加圆角边框 */
    border-radius: 10px;

    /* 增加外边距 */
    /* 上下120px 然后左右居中 */
    margin: 20px auto;
}

div.title{
    text-align: center;
}

div.ib{
    display: inline-block;
}

input.dbinput{
    /* 设置宽高 */
    width: 400px;
    height: 50px;

    /* 内部文本居中 */
    text-align: center;

    border-radius: 5px;
    border-width: medium;
    border-color: #ffe6fa;

    /* 圆角边框 */

    /* 设置字体 */
    font: 18px "黑体";
    margin: 10px auto;
}

input.tableinput{
    /* 设置宽高 */
    width: 800px;
    height: 50px;

    /* 内部文本居中 */
    text-align: center;

    border-radius: 5px;
    border-width: medium;
    border-color: #ffe6fa;

    /* 圆角边框 */

    /* 设置字体 */
    font: 18px "黑体";
    margin: 10px auto;
}

input[type="button"]{
    /* 设置宽高 */
    width: 150px;
    height: 50px;

    /* 内部文本居中 */
    text-align: center;
    text-color: #879ffd;

    /* 圆角边框 */
    border-radius: 5px;
    border-width: medium;
    border-color: #ffe6fa;

    /* 设置字体 */
    font:18px "黑体";

    /* 设置背景颜色 */
    background-color: #fde0de;
    margin: 10px auto;
}

input[type="submit"]{
    /* 设置宽高 */
    width: 150px;
    height: 50px;

    /* 内部文本居中 */
    text-align: center;
    text-color: #879ffd;

    /* 圆角边框 */
    border-radius: 5px;
    border-width: medium;
    border-color: #ffe6fa;

    /* 设置字体 */
    font:18px "黑体";

    /* 设置背景颜色 */
    background-color: #fde0de;
    margin: 10px auto;
}

table{
    width: 100%;
    border-collapse: collapse;
}

table caption{
    font-size: 2em;
    font-weight: bold;
    margin: 1em 0;
}

th,td{
    border: 1px solid #999;
    text-align: center;
    padding: 20px 0;
}

table thead tr{
    background-color: #008c8c;
    color: #fff;
}

table tbody tr:nth-child(odd){
    background-color: #eee;
}

table tbody tr:hover{
    background-color: #ccc;
}


table tfoot tr td{
    text-align: right;
    padding-right: 20px;
}